.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
  border-radius: 15px 0;
}

.wrapper h1{
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(88, 245, 83), rgb(74, 43, 250));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper p{
  font-weight: bolder;
  color: rgb(71, 71, 255);
  font-family: Arial, Helvetica, sans-serif;
}